.App {
  text-align: center;
  background-color: antiquewhite;
}

.movie-item {
  width: 300px;
  min-height: 500px;
  background-color: aquamarine;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.movie-item:hover {
  border: solid 3px cornflowerblue;
}

.movie-item img {
  width: 150px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.watchlist-item {
  background-color: pink;
}

.watched {
  border: solid 2px slateblue;
  cursor: initial;
}